<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#search-field" role="button"
                               aria-expanded="false"
                               aria-controls="search-field">Search</a>
                        </p>
                    </div>
                </div>
                <!-- [end] Head Button Section-->
                <!-- Search Section-->
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 collapse" id="search-field">
                        <div class="card">
                            <div class="header">
                                <h2>Search Filter</h2>
                            </div>
                            <div class="body">
                                <form th:action="${productUserSalesUrl}" method="post" id="searchForm">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">

                                                <input type="hidden" name="productId" class="form-control"
                                                       id="productId"
                                                       th:value="${productId}">
                                                <div class="form-line">
                                                    <label class="control-label">Product Id</label>
                                                    <input type="text" class="form-control" disabled
                                                           th:value="${productId}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="email" class="form-control" id="email"
                                                           placeholder="User (E-mail)">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="trxReferenceCode" class="form-control"
                                                           id="trxReferenceCode" placeholder="Reference Code">
                                                </div>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-warning submitBtn" id="clearSearchFilter"
                                                            th:data-searchFilter="${searchProductSalesTrxFilter}"
                                                            th:data-clearUrl="${clearUrl}">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <!-- Task Info -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}"></h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Reference Code</th>
                                            <th scope="col">Created Date Time</th>
                                            <th scope="col">Status</th>
                                            <!--<th scope="col">Handle</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list.content}">
                                            <td scope="row" th:text="${item.user.id}">1</td>
                                            <td><a href="#" th:text="${item.user.email}"></a></td>
                                            <td><a href="#" th:text="${item.trxReferenceCode}"></a></td>
                                            <td><a href="#" th:text="${item.createDatetime}"></a></td>
                                            <td><a href="#" th:text="${item.salesStatus}"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="base/pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>
</body>
</html>