<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Export Logs</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="#" th:data-url="${listUrl}" class="urlBtn">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"
                                   class=" waves-effect waves-block">Action</a>
                            </li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another
                                action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something
                                else
                                here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">File Name</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Type</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${list.content}">
                            <td scope="row" th:text="${item.id}">1</td>
                            <td th:text="${item.fileAttachment != null} ? ${item.fileAttachment.fileName} : 'N/A'"></td>
                            <td th:text="${item.createDatetime}"></td>
                            <td th:text="${item.exportStatus.displayName}"></td>
                            <td th:text="${item.exportType.displayName}"></td>
                            <td><a th:if="${item.fileAttachment != null}"
                                   class="btn btn-primary"
                                   th:href="${baseUrl} + '/' + ${item.id} + '/attachment'">Download
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="base/pagination"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>