<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <a data-toggle="collapse" href="#search-field" role="button"
                           aria-expanded="false"
                           aria-controls="search-field">
                            <button type="button" class="btn btn-primary waves-effect"
                                    title="Search">
                                <i class="material-icons">search</i>
                            </button>
                        </a>
                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info waves-effect urlBtn"
                                th:data-target-fragment="list-fragment"
                                th:data-url="${exportUrl}">
                            Export Page Resources
                        </button>
                    </div>
                    <!--<div class="col-md-2">-->
                        <!--<button type="button" class="btn btn-primary waves-effect urlBtn"-->
                                <!--th:data-url="${nontimeoutTest}"-->
                                <!--title="Non-Time-out test">-->
                            <!--Non-Time out-->
                        <!--</button>-->
                    <!--</div>-->
                </div>
                <p></p>

                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 collapse" id="search-field">
                        <div class="card">
                            <div class="header">
                                <h2>Search Filter</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/admin/export-log/list}" method="post" id="searchForm">


                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="input-daterange input-group"
                                                 id="export_log_searchmodel_datepicker_range_container">
                                                <div class="form-line">
                                                    <input type="text" name="fromDate" class="form-control"
                                                           placeholder="Date start...">
                                                </div>
                                                <span class="input-group-addon">to</span>
                                                <div class="form-line">
                                                    <input type="text" name="toDate" class="form-control"
                                                           placeholder="Date end...">
                                                </div>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <p>
                                                        <b>Export Type</b>
                                                    </p>
                                                    <select class="form-control show-tick" name="exportType"
                                                            id="exportType">
                                                        <option value=""></option>
                                                        <option th:each="item : ${exportType}"
                                                                th:value="${item.id}"
                                                                th:text="${item.name}">Part name
                                                        </option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary submitBtn">Submit
                                                    </button>
                                                </div>
                                                <!--<button type="reset" class="btn btn-warning">Reset</button>-->
                                                <div class="col-md-3">
                                                    <button class="btn btn-warning submitBtn" id="clearSearchFilter"
                                                            th:data-target-fragment="list-fragment"
                                                            th:data-searchFilter="${searchFilter}"
                                                            th:data-clearUrl="${clearUrl}">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="list-fragment" th:fragment="list-fragment">
                    <div th:include="admin/export/list_fragment">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="base/footer"></div>
</body>
<script>

</script>
</html>