<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Header</h2>
                            </div>
                            <div class="body">
                                <form th:action="${submitUrl}" th:object="${salesTrxStatusUpdateRequest}" method="post">

                                    <p class="error-message"
                                       th:if="${#fields.hasGlobalErrors()}"
                                       th:each="error : ${#fields.errors('global')}"
                                       th:text="${error}">Validation error</p>

                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('salesTrxStatus')}? 'has-error':''">
                                                <label for="salesTrxStatus" class="control-label">Status</label>
                                                <select id="salesTrxStatus" class="form-control"
                                                        th:field="*{salesTrxStatus}">

                                                    <!--<option th:each="item : ${salesStatus}"-->
                                                            <!--th:field="*{salesTrxStatus}"-->
                                                            <!--th:value="${item.key}"-->
                                                            <!--th:text="${item.value}">-->
                                                        <!--Part name-->
                                                    <!--</option>-->

                                                    <option th:each="item : ${T(com.samaxxw.util.SalesStatus).values()}"
                                                            th:field="*{salesTrxStatus}"
                                                            th:value="${item}"
                                                            th:text="${item.displayName}">Part
                                                        name
                                                    </option>
                                                </select>
                                                <label class="error"
                                                       th:each="error: ${#fields.errors('salesTrxStatus')}"
                                                       th:text="${error}">Error Message</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group"-->
                                         <!--th:classappend="${#fields.hasErrors('salesTrxStatus')}? 'has-error':''">-->
                                        <!--<div class="form-line">-->
                                            <!--<label for="salesTrxStatus" class="control-label">salesTrxStatus</label>-->
                                            <!--<input id="salesTrxStatus"-->
                                                   <!--class="form-control"-->
                                                   <!--th:field="*{salesTrxStatus}"/>-->
                                        <!--</div>-->
                                        <!--<label class="error"-->
                                               <!--th:each="error: ${#fields.errors('salesTrxStatus')}"-->
                                               <!--th:text="${error}">Validation error</label>-->
                                    <!--</div>-->

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('remarks')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="remarks" class="control-label">Remarks</label>
                                            <input id="remarks"
                                                   class="form-control"
                                                   th:field="*{remarks}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error: ${#fields.errors('remarks')}"
                                               th:text="${error}">Validation error</label>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success submitBtn">Submit</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sales Transaction change log -->
                <div class="row clearfix">
                    <!-- Task Info -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>Sales Transaction Log</h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Remarks</th>
                                            <th scope="col">Updated by</th>
                                            <th scope="col">Update time</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list.content}">
                                            <td scope="row" th:text="${item.id}">1</td>
                                            <td th:text="${item.description}"></td>
                                            <td th:text="${item.createBy}"></td>
                                            <td th:text="${item.createDatetime}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="base/pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:include="base/footer"></div>
</body>
</html>