<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="https://gurayyarar.github.io/AdminBSBMaterialDesign/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.css}" rel="stylesheet">

    <!-- Animation Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/animate-css/animate.css}" rel="stylesheet">

    <!-- Morris Chart Css-->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Css -->
    <link th:href="@{/css/adminbsb/customize.css}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{/css/adminbsb/all-themes.css}" rel="stylesheet">
    <style type="text/css">.jqstooltip {
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
        background: rgb(0, 0, 0) transparent;
        background-color: rgba(0, 0, 0, 0.6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        color: white;
        font: 10px arial, san serif;
        text-align: left;
        white-space: nowrap;
        padding: 5px;
        border: 1px solid white;
        box-sizing: content-box;
        z-index: 10000;
    }

    .jqsfield {
        color: white;
        font: 10px arial, san serif;
        text-align: left;
    }</style>
</head>

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars" style="display: none;"></a>
            <a class="navbar-brand" href="https://gurayyarar.github.io/AdminBSBMaterialDesign/index.html">ADMINBSB -
                MATERIAL DESIGN</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i
                        class="material-icons">search</i></a></li>
                <!-- #END# Call Search -->
                <!-- Notifications -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">notifications</i>
                        <span class="label-count">7</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">NOTIFICATIONS</li>
                        <li class="body">
                            <div class="slimScrollDiv"
                                 style="position: relative; overflow: hidden; width: auto; height: 254px;">
                                <ul class="menu" style="overflow: hidden; width: auto; height: 254px;">
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="slimScrollBar"
                                     style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;"></div>
                                <div class="slimScrollRail"
                                     style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>
                        </li>
                        <li class="footer">
                            <a href="javascript:void(0);" class=" waves-effect waves-block">View All Notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- #END# Notifications -->
                <!-- Tasks -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">flag</i>
                        <span class="label-count">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">TASKS</li>
                        <li class="body">
                            <div class="slimScrollDiv"
                                 style="position: relative; overflow: hidden; width: auto; height: 254px;">
                                <ul class="menu tasks" style="overflow: hidden; width: auto; height: 254px;">
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <h4>
                                                Footer display issue
                                                <small>32%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <h4>
                                                Make new buttons
                                                <small>45%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <h4>
                                                Create new dashboard
                                                <small>54%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <h4>
                                                Solve transition issue
                                                <small>65%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-orange" role="progressbar"
                                                     aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 65%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <h4>
                                                Answer GitHub questions
                                                <small>92%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-purple" role="progressbar"
                                                     aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 92%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="slimScrollBar"
                                     style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;"></div>
                                <div class="slimScrollRail"
                                     style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>
                        </li>
                        <li class="footer">
                            <a href="javascript:void(0);" class=" waves-effect waves-block">View All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- #END# Tasks -->
                <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i
                        class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="adminbsb_sample_files/user.png" alt="User" width="48" height="48">
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                <div class="email">john.doe@example.com</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">person</i>Profile</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">group</i>Followers</a>
                        </li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">shopping_cart</i>Sales</a>
                        </li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">favorite</i>Likes</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">input</i>Sign
                            Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 249px;">
                <ul class="list" style="overflow: hidden; width: auto; height: 249px;">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/index.html"
                           class="toggled waves-effect waves-block">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/typography.html"
                           class=" waves-effect waves-block">
                            <i class="material-icons">text_fields</i>
                            <span>Typography</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/helper-classes.html"
                           class=" waves-effect waves-block">
                            <i class="material-icons">layers</i>
                            <span>Helper Classes</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">widgets</i>
                            <span>Widgets</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>Cards</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/cards/basic.html"
                                           class=" waves-effect waves-block">Basic</a>
                                    </li>
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/cards/colored.html"
                                           class=" waves-effect waves-block">Colored</a>
                                    </li>
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/cards/no-header.html"
                                           class=" waves-effect waves-block">No Header</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>Infobox</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/infobox/infobox-1.html"
                                           class=" waves-effect waves-block">Infobox-1</a>
                                    </li>
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/infobox/infobox-2.html"
                                           class=" waves-effect waves-block">Infobox-2</a>
                                    </li>
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/infobox/infobox-3.html"
                                           class=" waves-effect waves-block">Infobox-3</a>
                                    </li>
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/infobox/infobox-4.html"
                                           class=" waves-effect waves-block">Infobox-4</a>
                                    </li>
                                    <li>
                                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/widgets/infobox/infobox-5.html"
                                           class=" waves-effect waves-block">Infobox-5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">swap_calls</i>
                            <span>User Interface (UI)</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/alerts.html"
                                   class=" waves-effect waves-block">Alerts</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/animations.html"
                                   class=" waves-effect waves-block">Animations</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/badges.html"
                                   class=" waves-effect waves-block">Badges</a>
                            </li>

                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/breadcrumbs.html"
                                   class=" waves-effect waves-block">Breadcrumbs</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/buttons.html"
                                   class=" waves-effect waves-block">Buttons</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/collapse.html"
                                   class=" waves-effect waves-block">Collapse</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/colors.html"
                                   class=" waves-effect waves-block">Colors</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/dialogs.html"
                                   class=" waves-effect waves-block">Dialogs</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/icons.html"
                                   class=" waves-effect waves-block">Icons</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/labels.html"
                                   class=" waves-effect waves-block">Labels</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/list-group.html"
                                   class=" waves-effect waves-block">List Group</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/media-object.html"
                                   class=" waves-effect waves-block">Media Object</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/modals.html"
                                   class=" waves-effect waves-block">Modals</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/notifications.html"
                                   class=" waves-effect waves-block">Notifications</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/pagination.html"
                                   class=" waves-effect waves-block">Pagination</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/preloaders.html"
                                   class=" waves-effect waves-block">Preloaders</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/progressbars.html"
                                   class=" waves-effect waves-block">Progress Bars</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/range-sliders.html"
                                   class=" waves-effect waves-block">Range Sliders</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/sortable-nestable.html"
                                   class=" waves-effect waves-block">Sortable &amp; Nestable</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/tabs.html"
                                   class=" waves-effect waves-block">Tabs</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/thumbnails.html"
                                   class=" waves-effect waves-block">Thumbnails</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/tooltips-popovers.html"
                                   class=" waves-effect waves-block">Tooltips &amp; Popovers</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/ui/waves.html"
                                   class=" waves-effect waves-block">Waves</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">assignment</i>
                            <span>Forms</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/forms/basic-form-elements.html"
                                   class=" waves-effect waves-block">Basic Form Elements</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/forms/advanced-form-elements.html"
                                   class=" waves-effect waves-block">Advanced Form Elements</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/forms/form-examples.html"
                                   class=" waves-effect waves-block">Form Examples</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/forms/form-validation.html"
                                   class=" waves-effect waves-block">Form Validation</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/forms/form-wizard.html"
                                   class=" waves-effect waves-block">Form Wizard</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/forms/editors.html"
                                   class=" waves-effect waves-block">Editors</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">view_list</i>
                            <span>Tables</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/tables/normal-tables.html"
                                   class=" waves-effect waves-block">Normal Tables</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/tables/jquery-datatable.html"
                                   class=" waves-effect waves-block">Jquery Datatables</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/tables/editable-table.html"
                                   class=" waves-effect waves-block">Editable Tables</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">perm_media</i>
                            <span>Medias</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/medias/image-gallery.html"
                                   class=" waves-effect waves-block">Image Gallery</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/medias/carousel.html"
                                   class=" waves-effect waves-block">Carousel</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">pie_chart</i>
                            <span>Charts</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/charts/morris.html"
                                   class=" waves-effect waves-block">Morris</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/charts/flot.html"
                                   class=" waves-effect waves-block">Flot</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/charts/chartjs.html"
                                   class=" waves-effect waves-block">ChartJS</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/charts/sparkline.html"
                                   class=" waves-effect waves-block">Sparkline</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/charts/jquery-knob.html"
                                   class=" waves-effect waves-block">Jquery Knob</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">content_copy</i>
                            <span>Example Pages</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/examples/profile.html"
                                   class=" waves-effect waves-block">Profile</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/examples/sign-in.html"
                                   class=" waves-effect waves-block">Sign In</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/examples/sign-up.html"
                                   class=" waves-effect waves-block">Sign Up</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/examples/forgot-password.html"
                                   class=" waves-effect waves-block">Forgot Password</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/examples/blank.html"
                                   class=" waves-effect waves-block">Blank Page</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/examples/404.html"
                                   class=" waves-effect waves-block">404 - Not Found</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/examples/500.html"
                                   class=" waves-effect waves-block">500 - Server Error</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">map</i>
                            <span>Maps</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/maps/google.html"
                                   class=" waves-effect waves-block">Google Map</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/maps/yandex.html"
                                   class=" waves-effect waves-block">YandexMap</a>
                            </li>
                            <li>
                                <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/maps/jvectormap.html"
                                   class=" waves-effect waves-block">jVectorMap</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">trending_down</i>
                            <span>Multi Level Menu</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="javascript:void(0);" class=" waves-effect waves-block">
                                    <span>Menu Item</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class=" waves-effect waves-block">
                                    <span>Menu Item - 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>Level - 2</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                                            <span>Menu Item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                            <span>Level - 3</span>
                                        </a>
                                        <ul class="ml-menu">
                                            <li>
                                                <a href="javascript:void(0);" class=" waves-effect waves-block">
                                                    <span>Level - 4</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/pages/changelogs.html"
                           class=" waves-effect waves-block">
                            <i class="material-icons">update</i>
                            <span>Changelogs</span>
                        </a>
                    </li>
                    <li class="header">LABELS</li>
                    <li>
                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                            <i class="material-icons col-red">donut_large</i>
                            <span>Important</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                            <i class="material-icons col-amber">donut_large</i>
                            <span>Warning</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class=" waves-effect waves-block">
                            <i class="material-icons col-light-blue">donut_large</i>
                            <span>Information</span>
                        </a>
                    </li>
                </ul>
                <div class="slimScrollBar"
                     style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 66.5961px;"></div>
                <div class="slimScrollRail"
                     style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                © 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.5
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
            <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 417px;">
                    <ul class="demo-choose-skin" style="overflow: hidden; width: auto; height: 417px;">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                    <div class="slimScrollBar"
                         style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 6px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px; height: 196.485px;"></div>
                    <div class="slimScrollRail"
                         style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="settings">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 417px;">
                    <div class="demo-settings" style="overflow: hidden; width: auto; height: 417px;">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked="checked"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked="checked"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked="checked"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked="checked"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="slimScrollBar"
                         style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 6px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;"></div>
                    <div class="slimScrollRail"
                         style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
        </div>
    </aside>
    <!-- #END# Right Sidebar -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>DASHBOARD</h2>
        </div>

        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">playlist_add_check</i>
                    </div>
                    <div class="content">
                        <div class="text">NEW TASKS</div>
                        <div class="number count-to" data-from="0" data-to="125" data-speed="15"
                             data-fresh-interval="20">125
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">help</i>
                    </div>
                    <div class="content">
                        <div class="text">NEW TICKETS</div>
                        <div class="number count-to" data-from="0" data-to="257" data-speed="1000"
                             data-fresh-interval="20">257
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">forum</i>
                    </div>
                    <div class="content">
                        <div class="text">NEW COMMENTS</div>
                        <div class="number count-to" data-from="0" data-to="243" data-speed="1000"
                             data-fresh-interval="20">243
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">NEW VISITORS</div>
                        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000"
                             data-fresh-interval="20">1225
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <!-- CPU Usage -->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-6">
                                <h2>CPU USAGE (%)</h2>
                            </div>
                            <div class="col-xs-12 col-sm-6 align-right">
                                <div class="switch panel-switch-btn">
                                    <span class="m-r-10 font-12">REAL TIME</span>
                                    <label>OFF<input type="checkbox" id="realtime" checked="checked"><span
                                            class="lever switch-col-cyan"></span>ON</label>
                                </div>
                            </div>
                        </div>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another
                                        action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else
                                        here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="real_time_chart" class="dashboard-flot-chart"
                             style="padding: 0px; position: relative;">
                            <canvas class="flot-base"
                                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1025px; height: 275px;"
                                    width="2050" height="550"></canvas>
                            <div class="flot-text"
                                 style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                                     style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 23px; text-align: center;"
                                         class="flot-tick-label tickLabel">0
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 118px; text-align: center;"
                                         class="flot-tick-label tickLabel">10
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 217px; text-align: center;"
                                         class="flot-tick-label tickLabel">20
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 316px; text-align: center;"
                                         class="flot-tick-label tickLabel">30
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 415px; text-align: center;"
                                         class="flot-tick-label tickLabel">40
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 514px; text-align: center;"
                                         class="flot-tick-label tickLabel">50
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 613px; text-align: center;"
                                         class="flot-tick-label tickLabel">60
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 712px; text-align: center;"
                                         class="flot-tick-label tickLabel">70
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 811px; text-align: center;"
                                         class="flot-tick-label tickLabel">80
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 910px; text-align: center;"
                                         class="flot-tick-label tickLabel">90
                                    </div>
                                    <div style="position: absolute; max-width: 93px; top: 257px; left: 1005px; text-align: center;"
                                         class="flot-tick-label tickLabel">100
                                    </div>
                                </div>
                                <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                     style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                    <div style="position: absolute; top: 244px; left: 14px; text-align: right;"
                                         class="flot-tick-label tickLabel">0
                                    </div>
                                    <div style="position: absolute; top: 195px; left: 8px; text-align: right;"
                                         class="flot-tick-label tickLabel">20
                                    </div>
                                    <div style="position: absolute; top: 146px; left: 8px; text-align: right;"
                                         class="flot-tick-label tickLabel">40
                                    </div>
                                    <div style="position: absolute; top: 98px; left: 8px; text-align: right;"
                                         class="flot-tick-label tickLabel">60
                                    </div>
                                    <div style="position: absolute; top: 49px; left: 8px; text-align: right;"
                                         class="flot-tick-label tickLabel">80
                                    </div>
                                    <div style="position: absolute; top: 1px; left: 1px; text-align: right;"
                                         class="flot-tick-label tickLabel">100
                                    </div>
                                </div>
                            </div>
                            <canvas class="flot-overlay"
                                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1025px; height: 275px;"
                                    width="2050" height="550"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# CPU Usage -->
        <div class="row clearfix">
            <!-- Visitors -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-pink">
                        <div class="sparkline" data-type="line" data-spot-radius="4"
                             data-highlight-spot-color="rgb(233, 30, 99)" data-highlight-line-color="#fff"
                             data-min-spot-color="rgb(255,255,255)" data-max-spot-color="rgb(255,255,255)"
                             data-spot-color="rgb(255,255,255)" data-offset="90" data-width="100%" data-height="92px"
                             data-line-width="2" data-line-color="rgba(255,255,255,0.7)"
                             data-fill-color="rgba(0, 188, 212, 0)">
                            <canvas style="display: inline-block; width: 295px; height: 92px; vertical-align: top;"
                                    width="295" height="92"></canvas>
                        </div>
                        <ul class="dashboard-stat-list">
                            <li>
                                TODAY
                                <span class="pull-right"><b>1 200</b> <small>USERS</small></span>
                            </li>
                            <li>
                                YESTERDAY
                                <span class="pull-right"><b>3 872</b> <small>USERS</small></span>
                            </li>
                            <li>
                                LAST WEEK
                                <span class="pull-right"><b>26 582</b> <small>USERS</small></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #END# Visitors -->
            <!-- Latest Social Trends -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-cyan">
                        <div class="m-b--35 font-bold">LATEST SOCIAL TRENDS</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                #socialtrends
                                <span class="pull-right">
                                        <i class="material-icons">trending_up</i>
                                    </span>
                            </li>
                            <li>
                                #materialdesign
                                <span class="pull-right">
                                        <i class="material-icons">trending_up</i>
                                    </span>
                            </li>
                            <li>#adminbsb</li>
                            <li>#freeadmintemplate</li>
                            <li>#bootstraptemplate</li>
                            <li>
                                #freehtmltemplate
                                <span class="pull-right">
                                        <i class="material-icons">trending_up</i>
                                    </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #END# Latest Social Trends -->
            <!-- Answered Tickets -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-teal">
                        <div class="font-bold m-b--35">ANSWERED TICKETS</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                TODAY
                                <span class="pull-right"><b>12</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                YESTERDAY
                                <span class="pull-right"><b>15</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                LAST WEEK
                                <span class="pull-right"><b>90</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                LAST MONTH
                                <span class="pull-right"><b>342</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                LAST YEAR
                                <span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                ALL
                                <span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #END# Answered Tickets -->
        </div>

        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card">
                    <div class="header">
                        <h2>TASK INFOS</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another
                                        action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else
                                        here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Manager</th>
                                    <th>Progress</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Task A</td>
                                    <td><span class="label bg-green">Doing</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Task B</td>
                                    <td><span class="label bg-blue">To Do</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Task C</td>
                                    <td><span class="label bg-light-blue">On Hold</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-light-blue" role="progressbar"
                                                 aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 72%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Task D</td>
                                    <td><span class="label bg-orange">Wait Approvel</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="95"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Task E</td>
                                    <td>
                                        <span class="label bg-red">Suspended</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="87"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Task Info -->
            <!-- Browser Usage -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>BROWSER USAGE</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another
                                        action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else
                                        here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="donut_chart" class="dashboard-donut-chart">
                            <svg height="265" version="1.1" width="295" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 style="overflow: hidden; position: relative; top: -0.199951px;">
                                <desc>Created with Raphaël 2.2.0</desc>
                                <defs></defs>
                                <path style="opacity: 1;" fill="none" stroke="#e91e63"
                                      d="M147.5,214.16666666666669A81.66666666666667,81.66666666666667,0,0,0,209.86598314293147,79.77497187236375"
                                      stroke-width="2" opacity="1"></path>
                                <path style="" fill="#e91e63" stroke="#ffffff"
                                      d="M147.5,217.16666666666669A84.66666666666667,84.66666666666667,0,0,0,212.15697844205954,77.83813410440976L241.0489747143972,53.41245780854564A122.5,122.5,0,0,1,147.5,255Z"
                                      stroke-width="3"></path>
                                <path style="opacity: 0;" fill="none" stroke="#00bcd4"
                                      d="M209.86598314293147,79.77497187236375A81.66666666666667,81.66666666666667,0,0,0,79.43689880580898,87.36842900724861"
                                      stroke-width="2" opacity="0"></path>
                                <path style="" fill="#00bcd4" stroke="#ffffff"
                                      d="M212.15697844205954,77.83813410440976A84.66666666666667,84.66666666666667,0,0,0,76.9366216190836,85.71053456261691L49.57247685325579,67.56580091859239A117.5,117.5,0,0,1,237.23064921585035,56.64052075513561Z"
                                      stroke-width="3"></path>
                                <path style="opacity: 0;" fill="none" stroke="#ff9800"
                                      d="M79.43689880580898,87.36842900724861A81.66666666666667,81.66666666666667,0,0,0,77.94216513257355,175.29196248129173"
                                      stroke-width="2" opacity="0"></path>
                                <path style="" fill="#ff9800" stroke="#ffffff"
                                      d="M76.9366216190836,85.71053456261691A84.66666666666667,84.66666666666667,0,0,0,75.3869793619334,176.86391212346163L47.42189064992726,194.06802765165443A117.5,117.5,0,0,1,49.57247685325579,67.56580091859239Z"
                                      stroke-width="3"></path>
                                <path style="opacity: 0;" fill="none" stroke="#009688"
                                      d="M77.94216513257355,175.29196248129173A81.66666666666667,81.66666666666667,0,0,0,128.02090387726372,211.80957860615354"
                                      stroke-width="2" opacity="0"></path>
                                <path style="" fill="#009688" stroke="#ffffff"
                                      d="M75.3869793619334,176.86391212346163A84.66666666666667,84.66666666666667,0,0,0,127.30534524418361,214.72299169780814L119.47395353769576,246.60867942313925A117.5,117.5,0,0,1,47.42189064992726,194.06802765165443Z"
                                      stroke-width="3"></path>
                                <path style="opacity: 0;" fill="none" stroke="#607d8b"
                                      d="M128.02090387726372,211.80957860615354A81.66666666666667,81.66666666666667,0,0,0,147.4743436604178,214.16666263657822"
                                      stroke-width="2" opacity="0"></path>
                                <path style="" fill="#607d8b" stroke="#ffffff"
                                      d="M127.30534524418361,214.72299169780814A84.66666666666667,84.66666666666667,0,0,0,147.47340118263722,217.1666624885342L147.46308628692765,249.99999420160748A117.5,117.5,0,0,1,119.47395353769576,246.60867942313925Z"
                                      stroke-width="3"></path>
                                <text style="text-anchor: middle; font-family: &quot;Arial&quot;; font-size: 15px; font-weight: 800;"
                                      x="147.5" y="122.5" text-anchor="middle" font-family="&quot;Arial&quot;"
                                      font-size="15px" stroke="none" fill="#000000" font-weight="800"
                                      transform="matrix(2.3333,0,0,2.3333,-196.6667,-175)"
                                      stroke-width="0.42857142857142855">
                                    <tspan dy="5.25">Chrome</tspan>
                                </text>
                                <text style="text-anchor: middle; font-family: &quot;Arial&quot;; font-size: 14px;"
                                      x="147.5" y="142.5" text-anchor="middle" font-family="&quot;Arial&quot;"
                                      font-size="14px" stroke="none" fill="#000000"
                                      transform="matrix(1.7014,0,0,1.7014,-103.4549,-94.3368)"
                                      stroke-width="0.5877551020408163">
                                    <tspan dy="5">37%</tspan>
                                </text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Browser Usage -->
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script async="" src="https://www.google-analytics.com/analytics.js"></script>

<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery/jquery.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Select Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

<!-- Slimscroll Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.js}"></script>

<!-- Jquery CountTo Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery-countto/jquery.countTo.js}"></script>

<!-- Morris Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/raphael/raphael.min.js}"></script>

<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/morrisjs/morris.js}"></script>
<!-- ChartJs -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/chartjs/Chart.bundle.js}"></script>
<!-- Flot Charts Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/flot-charts/jquery.flot.js}"></script>
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/flot-charts/jquery.flot.resize.js}"></script>
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/flot-charts/jquery.flot.pie.js}"></script>
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/flot-charts/jquery.flot.categories.js}"></script>
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/flot-charts/jquery.flot.time.js}"></script>

<!-- Sparkline Chart Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery-sparkline/jquery.sparkline.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/adminbsb/admin.js}"></script>
<script th:src="@{/js/adminbsb/index.js}"></script>

<!-- Demo Js -->
<script th:src="@{/js/adminbsb/demo.js}"></script>


</body>
</html>