<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Header</h2>
                            </div>
                            <div class="body">
                                <form th:action="${submitUrl}" th:object="${grantProductForm}" method="post">

                                    <p class="error-message"
                                       th:if="${#fields.hasGlobalErrors()}"
                                       th:each="error : ${#fields.errors('global')}"
                                       th:text="${error}">Validation error</p>

                                    <div class="form-group">
                                        <p>Grant product to <span class="badge badge-info"
                                                                  th:text="${user.email}"></span>
                                        </p>
                                    </div>
                                    <input id="userId"
                                           type="hidden"
                                           class="form-control"
                                           th:field="*{userId}"/>

                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('productId')}? 'has-error':''">
                                                <label for="productId" class="control-label">Product</label>
                                                <select id="productId" class="form-control show-tick"
                                                        data-live-search="true"
                                                        th:field="*{productId}">
                                                    <option th:each="item : ${productList}"
                                                            th:field="*{productId}"
                                                            th:value="${item.id}"
                                                            th:text="${item.name}">Part name
                                                    </option>
                                                </select>

                                                <label class="error"
                                                       th:each="error: ${#fields.errors('productId')}"
                                                       th:text="${error}">Error Message</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('remarks')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="remarks" class="control-label">Remarks</label>
                                            <input id="remarks"
                                                   class="form-control"
                                                   th:field="*{remarks}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error: ${#fields.errors('remarks')}"
                                               th:text="${error}">Validation error</label>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success submitBtn">Submit</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:include="base/footer"></div>
</body>
</html>