<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base/header_component">
    <!--<meta charset="UTF-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.5.0/css/fontawesome.min.css}"/>-->
    <!--<title th:text="${appName}"></title>-->
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/user/list}">User</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/product/list}">Product</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/paypal/create}">PayPal Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <!--Logged in user: <span sec:authentication="name"></span> |-->
            <!--Roles: <span sec:authentication="principal.authorities"></span>-->
            <a href="/" th:href="@{/logout}">
                <button class="btn btn-outline-success my-2 my-sm-0">Logout</button>
            </a>
        </div>
    </nav>
    <!-- ## Page Header ## -->
    <h1 th:text="${pageHeader}"></h1>
    <div th:if="${systemMessage != null}">
        <!--<h1>System Message</h1>-->
        <div class="alert alert-info" th:class="${'alert alert-' + systemMessage.type.className}" th:text="${systemMessage.msg}">
        </div>
    </div>
    <div class="row" th:if="${breadcrumb != null}">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <th:block th:each="item : ${breadcrumb.breadcrumbList}">
                        <li th:if="${item.currentPage}"
                                class="breadcrumb-item active" aria-current="page" th:text="${item.displayName}">
                        </li>
                        <li th:if="${!item.currentPage}"
                            class="breadcrumb-item">
                            <a th:if="${item.url != null}" th:href="${item.url}" th:text="${item.displayName}"></a>
                        </li>
                    </th:block>


                    <!--<li th:each="item : ${breadcrumb.breadcrumbList}"-->
                        <!--class="breadcrumb-item"-->
                        <!--th:classappend="${item.currentPage} ? active : null"-->
                        <!--th:attrappend="data-path=${item.currentPage} ? 'page' : null"-->
                        <!--th:text="${item.url == null} ? ${item.displayName}">-->
                        <!--<a th:if="${item.url != null}" th:href="${item.url}" th:text="${item.displayName}"></a>-->
                    <!--</li>-->
                    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <!--<li class="breadcrumb-item active" aria-current="page">Library</li>-->
                </ol>
            </nav>
        </div>
    </div>
</div>
</body>
</html>