<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>The Millennium Method - Admin Panel</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.css}" rel="stylesheet">

    <!-- Animation Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/animate-css/animate.css}" rel="stylesheet">

    <!-- Dropzone Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/dropzone/dropzone.css}" rel="stylesheet">

    <!-- Multi Select Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/multi-select/css/multi-select.css}" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap-select/css/bootstrap-select.css}"
          rel="stylesheet"/>

    <!-- Morris Chart Css-->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/morrisjs/morris.css}" rel="stylesheet">

    <!-- Sweetalert Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/sweetalert/sweetalert.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{/css/adminbsb/customize.css}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{/css/adminbsb/all-themes.css}" rel="stylesheet">
    <style type="text/css">.jqstooltip {
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
        background: rgb(0, 0, 0) transparent;
        background-color: rgba(0, 0, 0, 0.6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        color: white;
        font: 10px arial, san serif;
        text-align: left;
        white-space: nowrap;
        padding: 5px;
        border: 1px solid white;
        box-sizing: content-box;
        z-index: 10000;
    }

    .jqsfield {
        color: white;
        font: 10px arial, san serif;
        text-align: left;
    }</style>
    <script th:src="@{/webjars/ckeditor/4.12.1/full/ckeditor.js}"></script>
    <script>
         CKEDITOR.config.contentsCss = '/css/userguide.css';
         CKEDITOR.config.language = "en";
         CKEDITOR.config.allowedContent = true;
         CKEDITOR.config.language = "Form, Checkbox, Radio, TextField, Textarea, Select, Button, ImageButton, HiddenField";
    </script>
    <title th:text="${appName}"></title>
</head>
</html>