<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- ## Page Header ## -->
<section class="content-header content">
    <div class="container-fluid">

        <div th:if="${systemMessage != null}" id="notification-container"
             th:data-type="${'alert-' + systemMessage.type.className}"
             th:data-text="${systemMessage.msg}" >
            <!--<h1>System Message</h1>-->
            <!--<div th:class="${'alert alert-' + systemMessage.type.className}" th:text="${systemMessage.msg}">-->
            <!--</div>-->
        </div>

        <div class="block-header">
            <h2 th:text="${pageHeader}">DASHBOARD</h2>
        </div>
        <div class="row" th:if="${breadcrumb != null}">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <th:block th:each="item : ${breadcrumb.breadcrumbList}">
                            <li th:if="${item.currentPage}"
                                class="active" aria-current="page" th:text="${item.displayName}">
                            </li>
                            <li th:if="${!item.currentPage}">
                                <a th:if="${item.url != null}" href="#" class="urlBtn"
                                   th:data-url="${item.url}"
                                   th:text="${item.displayName}"></a>
                            </li>
                        </th:block>


                        <!--<li th:each="item : ${breadcrumb.breadcrumbList}"-->
                        <!--class="breadcrumb-item"-->
                        <!--th:classappend="${item.currentPage} ? active : null"-->
                        <!--th:attrappend="data-path=${item.currentPage} ? 'page' : null"-->
                        <!--th:text="${item.url == null} ? ${item.displayName}">-->
                        <!--<a th:if="${item.url != null}" th:href="${item.url}" th:text="${item.displayName}"></a>-->
                        <!--</li>-->
                        <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
                        <!--<li class="breadcrumb-item active" aria-current="page">Library</li>-->
                    </ol>
                </nav>
            </div>
        </div>
        <div class="alertBoxContainer"></div>
    </div>
</section>
</body>
</html>