<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:if="${list.pageMeta.totalPages > 1}" aria-label="Page navigation example">
    <ul class="pagination">
        <li th:if="${list.pageMeta.linksMap['prev'] != null}">
            <a class="waves-effect urlBtn" href="#"
               th:data-url="${list.pageMeta.linksMap['prev'].href}"
               aria-label="Previous">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <th:block th:each="i,iter: ${#numbers.sequence(1, list.pageMeta.totalPages)}">
            <li th:classappend="${iter.index == pageNum} ? active : null">
                <a class="waves-effect urlBtn" href="#"
                   th:data-url="${list.pageMeta.pageLinksMap[iter.index].href}"
                   th:text="${iter.index}"></a>
            </li>
        </th:block>
        <li th:if="${list.pageMeta.linksMap['next'] != null}">
            <a class="waves-effect urlBtn" href="#"
               th:data-url="${list.pageMeta.linksMap['next'].href }"
               aria-label="Next">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</nav>
</html>