<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>

    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Header</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/user/edit}" th:object="${userEditForm}" method="post">

                                    <p class="error-message"
                                       th:if="${#fields.hasGlobalErrors()}"
                                       th:each="error : ${#fields.errors('global')}"
                                       th:text="${error}">Validation error</p>

                                    <input id="id"
                                           th:type="hidden"
                                           class="form-control"
                                           th:name="id"
                                           th:field="*{id}"/>

                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                                <div class="form-line">

                                                    <label for="firstName" class="control-label">First name</label>
                                                    <input id="firstName"
                                                           class="form-control"
                                                           th:field="*{firstName}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error: ${#fields.errors('firstName')}"
                                                       th:text="${error}">Error Message</label>
                                            </div>

                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="lastName" class="control-label">Last name</label>
                                                    <input id="lastName"
                                                           class="form-control"
                                                           th:field="*{lastName}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error: ${#fields.errors('lastName')}"
                                                       th:text="${error}">Error Message</label>
                                            </div>
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="email" class="control-label">E-mail</label>
                                                    <input id="email"
                                                           class="form-control"
                                                           th:field="*{email}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error: ${#fields.errors('email')}"
                                                       th:text="${error}">Error Message</label>
                                            </div>
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('roles')}? 'has-error':''">
                                                <div class="row clear fix">
                                                    <div class="col-md-3">
                                                        <p>
                                                            <b>Roles</b>
                                                        </p>
                                                        <select id="roles"
                                                                th:name="roles"
                                                                class="custom-select"
                                                                multiple data-live-search="true">
                                                            <option th:each="instance : ${userRoleMap}"
                                                                    th:text="${instance.key}"
                                                                    th:selected="${instance.value}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <label class="error"
                                                       th:each="error: ${#fields.errors('roles')}"
                                                       th:text="${error}">Error Message</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="row clear fix">
                                                    <div class="col-md-1">
                                                        <button type="submit"
                                                                class="btn waves-effect btn-block bg-green submitBtn">Submit
                                                        </button>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a href="#"
                                                           th:data-url="${listUrl}"
                                                           class="btn waves-effect btn-block bg-red urlBtn">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </form>

                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>

</div>
<div th:include="base/footer"></div>
</body>
</html>