<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <!--<a th:href="${addUrl}">-->
                        <button type="button" class="btn btn-primary waves-effect urlBtn"
                                th:data-url="${addUrl}"
                                title="Add User">
                            <i class="material-icons">add</i>
                        </button>
                        <!--</a>-->
                        <a data-toggle="collapse" href="#search-field" role="button"
                           aria-expanded="false"
                           aria-controls="search-field">
                            <button type="button" class="btn btn-primary waves-effect"
                                    title="Search">
                                <i class="material-icons">search</i>
                            </button>
                        </a>
                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 collapse" id="search-field">
                        <div class="card">
                            <div class="header">
                                <h2>Search Filter</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/user/list}" method="post" id="searchForm">


                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="firstName" class="form-control"
                                                           id="firstName"
                                                           placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="lastName" class="form-control"
                                                           id="lastName"
                                                           placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="email" class="form-control" id="email"
                                                           placeholder="E-mail">
                                                </div>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <p>
                                                        <b>Roles</b>
                                                    </p>
                                                    <select class="form-control show-tick" name="roleId"
                                                            id="roles">
                                                        <option value=""></option>
                                                        <option th:each="item : ${roleList}"
                                                                th:value="${item.id}"
                                                                th:text="${item.name}">Part name
                                                        </option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary submitBtn">Submit
                                                    </button>
                                                </div>
                                                <!--<button type="reset" class="btn btn-warning">Reset</button>-->
                                                <div class="col-md-3">
                                                    <button class="btn btn-warning submitBtn" id="clearSearchFilter"
                                                            th:data-searchFilter="${searchFilter}"
                                                            th:data-clearUrl="${clearUrl}">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<fieldset>-->
                                    <!--&lt;!&ndash;<legend>Search Filter</legend>&ndash;&gt;-->
                                    <!--<div class="form-group">-->
                                    <!--<label>First Name</label>-->
                                    <!--<div class="form-group">-->
                                    <!--<div class="form-line">-->
                                    <!--<input type="text" name="firstName" class="form-control" id="firstName">-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                    <!--<label>Last Name</label>-->
                                    <!--<input type="text" name="lastName" class="form-control" id="lastName">-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                    <!--<label>E-mail</label>-->
                                    <!--<input type="text" name="email" class="form-control" id="email">-->
                                    <!--</div>-->


                                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>Role</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<select id="roles" class="custom-select" data-live-search="true" name="roleId">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option value=""></option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option th:each="item : ${roleList}"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:value="${item.id}"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:text="${item.name}">Part name&ndash;&gt;-->
                                    <!--&lt;!&ndash;</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                                    <!--&lt;!&ndash;<button type="reset" class="btn btn-warning">Reset</button>&ndash;&gt;-->

                                    <!--<button class="btn btn-warning" id="clearSearchFilter"-->
                                    <!--th:onClick="'javascript:clearFilter(\'' + ${searchFilter} + '\',\'' + ${clearUrl} + '\');'">-->
                                    <!--Clear-->
                                    <!--</button>-->
                                    <!--</fieldset>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <!-- Task Info -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>Users</h2>
                                <!--<ul class="header-dropdown m-r&#45;&#45;5">-->
                                    <!--<li class="dropdown">-->
                                        <!--<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"-->
                                           <!--role="button" aria-haspopup="true" aria-expanded="false">-->
                                            <!--<i class="material-icons">more_vert</i>-->
                                        <!--</a>-->
                                        <!--<ul class="dropdown-menu pull-right">-->
                                            <!--<li><a href="javascript:void(0);"-->
                                                   <!--class=" waves-effect waves-block">Action</a>-->
                                            <!--</li>-->
                                            <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Another-->
                                                <!--action</a></li>-->
                                            <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Something-->
                                                <!--else-->
                                                <!--here</a></li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">E-Mail</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list.content}">
                                            <td scope="row" th:text="${item.id}">1</td>
                                            <td><a href="#" th:text="${item.firstName}"></a></td>
                                            <td th:text="${item.lastName}"></td>
                                            <td th:text="${item.email}"></td>
                                            <td>
                                                <span class="badge badge-info" th:each="role: ${item.roles}"
                                                      th:text="${role.name}"></span>
                                            </td>
                                            <td>
                                                <span class="badge badge-info"
                                                      th:text="${userStatusEnum.get(item.status)}"></span>
                                            </td>
                                            </td>
                                            <td><a
                                                    href="#"
                                                    class="btn btn-primary urlBtn"
                                                    th:data-url="${editUrl} + '/' + ${item.id}">Edit
                                                <span
                                                        class="fa fa-linkedin"></span> </a>
                                                <!--<a th:href="${userTrxUrl} + '/' + ${item.id} + '/list'" class="btn btn-primary">Transaction <span-->
                                                <!--class="fa fa-trade-federation"></span> </a>-->
                                                <a href="#"
                                                   th:data-url="${userPurchaseUrl} + '/' + ${item.id} + '/list'"
                                                   class="btn btn-primary urlBtn">Purchase
                                                    Record <span
                                                            class="fa fa-trade-federation"></span> </a>

                                                <a href="#"
                                                   class="btn btn-primary urlBtn"
                                                   th:data-url="${userGrantUrl} + '/' + ${item.id}">Grant
                                                    Product <span
                                                            class="fa fa-trade-federation"></span> </a>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="base/pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="base/footer"></div>
</body>
</html>