<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row clear fix">
                    <div class="col-md-2">
                        <a th:href="${exportUrl}">
                            <button type="button" class="btn btn-info waves-effect">
                                Export Page Resources
                            </button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary waves-effect urlBtn"
                                th:data-url="${nontimeoutTest}"
                                title="Non-Time-out test">
                            Non-Time out
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:include="base/footer"></div>
</body>
</html>