<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Header</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/product-resources/product/{productId}/edit/submit(productId=${productId})}"
                                      th:object="${productResourcesEditForm}"
                                      method="post"
                                      enctype="multipart/form-data">

                                    <input id="id"
                                           th:type="hidden"
                                           class="form-control"
                                           th:name="id"
                                           th:field="*{id}"/>

                                    <label class="error"
                                           th:if="${#fields.hasGlobalErrors()}"
                                           th:each="error : ${#fields.errors('global')}"
                                           th:text="${error}">Error Message</label>

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('productId')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="productId" class="control-label">Product ID</label>
                                            <input id="productId"
                                                   disabled
                                                   class="form-control"
                                                   th:field="*{productId}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error: ${#fields.errors('productId')}"
                                               th:text="${error}">Error Message</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('title')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="title" class="control-label">Resource Title</label>
                                            <input id="title"
                                                   class="form-control"
                                                   th:field="*{title}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error: ${#fields.errors('title')}"
                                               th:text="${error}">Error Message</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="description" class="control-label">Description</label>
                                            <input id="description"
                                                   class="form-control"
                                                   th:field="*{description}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('description')}"
                                               th:text="${error}">Error Message</label>
                                    </div>
                                    <div class="form-group" th:if="${attachment != null}">
                                        <label class="control-label">Current Attachment</label>
                                        <p><a th:href="${'/product-resources/attachment/' + attachment.uploadId}">
                                            <button type="button" class="btn btn-info"
                                                    th:text="${attachment.objectName}">
                                                Attachment
                                                name
                                            </button>
                                        </a></p>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('file')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="file" class="control-label">File</label>
                                            <input id="file"
                                                   type="file"
                                                   class="form-control"
                                                   th:field="*{file}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('file')}"
                                               th:text="${error}">Error Message</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('url')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="url" class="control-label">URL</label>
                                            <th:block sec:authorize="hasRole('ROLE_SUPER_ADMIN')">
                                                <input id="url"
                                                       class="form-control"
                                                       th:field="*{url}" />
                                            </th:block>
                                            <th:block sec:authorize="!hasRole('ROLE_SUPER_ADMIN')">
                                                <input id="url"
                                                       class="form-control"
                                                       th:value="${productResourcesEditForm.url}" disabled/>
                                                <input type="hidden"
                                                       class="form-control"
                                                       th:field="*{url}"/>
                                            </th:block>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('url')}"
                                               th:text="${error}">Error Message</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('type')}? 'has-error':''">

                                        <label for="type" class="control-label">Type</label>

                                        <span class="badge badge-info"
                                              th:text="${productResourcesEditForm.type}"></span>

                                        <input id="type"
                                               type="hidden"
                                               class="form-control"
                                               th:field="*{type}"/>

                                        <!--<select id="type"-->
                                        <!--class="form-control"-->
                                        <!--th:field="*{type}">-->
                                        <!--<option value="URL">URL</option>-->
                                        <!--<option value="ATTACHMENT" selected>Attachment</option>-->
                                        <!--</select>-->

                                        <label class="error"
                                               th:each="error : ${#fields.errors('type')}"
                                               th:text="${error}">Error Message</label>
                                    </div>

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('status')}? 'has-error':''">
                                        <label for="status" class="control-label">Status</label>
                                        <select id="status" class="custom-select" data-live-search="true"
                                                th:field="*{status}">
                                            <option th:each="item : ${T(com.samaxxw.util.ProductResourcesStatusEnum).values()}"
                                                    th:value="${item.status}"
                                                    th:text="${item.displayName}"
                                                    th:selected="${item.status == productResourcesEditForm.status}">Part
                                                name
                                            </option>
                                        </select>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('status')}"
                                               th:text="${error}">Error Message</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row clear fix">
                                            <div class="col-md-1">
                                                <button type="submit"
                                                        class="btn waves-effect btn-block bg-green formDataSubmitBtn">
                                                    Submit
                                                </button>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn waves-effect btn-block bg-red"
                                                        onclick="window.history.back()">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</div>
<div th:include="base/footer"></div>
</body>
</html>