<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary waves-effect urlBtn"
                                th:data-url="${addUrl}"
                                title="Add Product Resources">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <div class="row clear fix">
                    <!-- Task Info -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Users</h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Detail</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list.content}">
                                            <td scope="row" th:text="${item.id}">1</td>
                                            <td><a href="#" th:text="${item.name}"></a></td>
                                            <td><a href="#" th:text="${item.description}"></a></td>
                                            <td>
                                                <span class="badge badge-info"
                                                      th:text="${item.type}"></span>
                                                <!--<a href="#" th:text="${item.type}"></a>-->
                                            </td>
                                            <td><span class="badge badge-info"
                                                      th:text="${status.get(item.status)}"></span>
                                            </td>
                                                <td><a th:if="${status.get(item.status) != 'Deleted'}"
                                                        href="#"
                                                        th:data-url="${editUrl} + '/' + ${item.id}"
                                                        class="btn btn-primary urlBtn">Edit
                                                    <span
                                                            class="fa fa-linkedin"></span> </a></td>
                                                <td><a th:if="${status.get(item.status) != 'Deleted'}"
                                                        href="#"
                                                        th:data-request-type="DELETE"
                                                        th:data-url="${attachmentUrl} + '/' + ${item.id}"
                                                        class="btn btn-warning urlBtn">Delete
                                                    <span
                                                            class="fa fa-linkedin"></span> </a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="base/pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>
</body>
</html>