<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <form th:action="@{/page-resources/add/batch}" th:object="${pageResourcesBatchForm}"
                      method="post">

                    <div id="items" th:fragment="items">
                        <div class="row clear fix"
                             th:each="row, stat : ${pageResourcesBatchForm.pageResourcesFormList}">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="header">
                                        <h2 th:text="${pageHeader + ' - ' + stat.index}">Header</h2>
                                        <ul class="header-dropdown m-r-0">
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <i class="material-icons btnDelete" th:data-index="${stat.index}">delete</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">

                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <label class="error"
                                                       th:if="${#fields.hasGlobalErrors()}"
                                                       th:each="error : ${#fields.errors('global')}"
                                                       th:text="${error}">Validation error</label>

                                                <div class="row clear fix">
                                                    <div class="col-md-3">
                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].section}')}? 'has-error':''">

                                                            <p>
                                                                <b>Section</b>
                                                            </p>

                                                            <select id="section" class="form-control"
                                                                    data-live-search="true"
                                                                    th:field="${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].section}">
                                                                <option th:each="entry : ${sectionSelection}"
                                                                        th:value="${entry.key}"
                                                                        th:text="${entry.value}">Part name
                                                                </option>
                                                            </select>
                                                            <label class="error"
                                                                   th:each="error : ${#fields.errors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].section}')}"
                                                                   th:text="${error}">Validation error</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].type}')}? 'has-error':''">
                                                            <p>
                                                                <b>Type</b>
                                                            </p>
                                                            <select id="type" class="form-control"
                                                                    data-live-search="true"
                                                                    th:field="${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].type}">
                                                                <option th:each="entry : ${typeSelection}"
                                                                        th:field="${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].type}"
                                                                        th:value="${entry.key}"
                                                                        th:text="${entry.value}">Part name
                                                                </option>
                                                            </select>

                                                            <label class="error"
                                                                   th:each="error : ${#fields.errors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].type}')}"
                                                                   th:text="${error}">Validation error</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].language}')}? 'has-error':''">

                                                            <p>
                                                                <b>Language</b>
                                                            </p>

                                                            <select id="language" class="form-control"
                                                                    data-live-search="true"
                                                                    th:field="${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].language}">
                                                                <option th:each="entry : ${languageSelection}"
                                                                        th:field="${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].language}"
                                                                        th:value="${entry.key}"
                                                                        th:text="${entry.value}">Part name
                                                                </option>
                                                            </select>
                                                            <label class="error"
                                                                   th:each="error : ${#fields.errors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].language}')}"
                                                                   th:text="${error}">Validation error</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clear fix">
                                                    <div class="col-md-12">
                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].name}')}? 'has-error':''">
                                                            <label for="name" class="control-label">Name</label>
                                                            <div class="form-line">

                                                                <input id="name"
                                                                       class="form-control"
                                                                       th:field="${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].name}"/>
                                                            </div>
                                                            <label class="error"
                                                                   th:each="error : ${#fields.errors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].name}')}"
                                                                   th:text="${error}">Validation error</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group"
                                                     th:classappend="${#fields.hasErrors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].content}')}? 'has-error':''">
                                                    <label class="control-label">Content</label>

                                                    <textarea
                                                            class="form-control ckeditor"
                                                            th:field="${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].content}"></textarea>
                                                    <script>
                                                        CKEDITOR.replace('.ckeditor', {
                                                            language: "en",
                                                            allowedContent: true,
                                                            removeButtons: "Form, Checkbox, Radio, TextField, Textarea, Select, Button, ImageButton, HiddenField",
                                                            on: {
                                                                instanceReady: function () {
                                                                    this.document.appendStyleSheet('/css/userguide.css');
                                                                }
                                                            }
                                                        });
                                                    </script>

                                                    <label class="error"
                                                           th:each="error : ${#fields.errors('${pageResourcesBatchForm.pageResourcesFormList[__${stat.index}__].content}')}"
                                                           th:text="${error}">Validation error</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clear fix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                                <!--<div class="header">-->
                                <!--&lt;!&ndash;<h2 th:text="${pageHeader}">Header</h2>&ndash;&gt;-->
                                <!--</div>-->
                                <div class="body">
                                    <div class="row clear fix">
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary waves-effect addItem"
                                                    name="addItem"
                                                    id="addItem"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="Add Page Resources">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row clear fix">
                                            <div class="col-md-2">
                                                <button type="submit"
                                                        class="btn waves-effect btn-block bg-green submitBtn">
                                                    Submit
                                                </button>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn waves-effect btn-block bg-red"
                                                        onclick="window.history.back()">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<div th:include="base/footer"></div>
<script>



</script>
</body>
</html>