<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Header</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/page-resources/edit}" th:object="${pageResourcesEditForm}"
                                      method="post">

                                    <div class="row clearfix">
                                        <div class="col-sm-12">

                                            <label class="error"
                                                   th:if="${#fields.hasGlobalErrors()}"
                                                   th:each="error : ${#fields.errors('global')}"
                                                   th:text="${error}">Validation error</label>


                                            <input id="id"
                                                   th:type="hidden"
                                                   class="form-control"
                                                   th:name="id"
                                                   th:field="*{id}"/>

                                            <!--<div class="form-group"-->
                                            <!--th:classappend="${#fields.hasErrors('section')}? 'has-error':''">-->
                                            <!--<label for="section" class="control-label">Section</label>-->
                                            <!--<input id="section"-->
                                            <!--class="form-control"-->
                                            <!--th:field="*{section}"/>-->
                                            <!--<label class="error"-->
                                            <!--th:each="error: ${#fields.errors('section')}"-->
                                            <!--th:text="${error}">Validation error</label>-->
                                            <!--</div>-->

                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('section')}? 'has-error':''">
                                                <div class="row clear fix">
                                                    <div class="col-md-3">
                                                        <p>
                                                            <b>Section</b>
                                                        </p>

                                                        <select id="section" class="form-control"
                                                                data-live-search="true"
                                                                th:field="*{section}">
                                                            <option th:each="entry : ${sectionSelection}"
                                                                    th:field="*{section}"
                                                                    th:value="${entry.key}"
                                                                    th:text="${entry.value}"
                                                                    th:selected="${entry.value}">Part name
                                                            </option>
                                                        </select>
                                                        <label class="error"
                                                               th:each="error : ${#fields.errors('section')}"
                                                               th:text="${error}">Validation error</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('type')}? 'has-error':''">
                                                <div class="row clear fix">
                                                    <div class="col-md-3">
                                                        <p>
                                                            <b>Type</b>
                                                        </p>
                                                        <select id="type" class="form-control" data-live-search="true"
                                                                th:field="*{type}">
                                                            <option th:each="entry : ${typeSelection}"
                                                                    th:field="*{type}"
                                                                    th:value="${entry.key}"
                                                                    th:text="${entry.value}">Part name
                                                            </option>
                                                        </select>

                                                        <label class="error"
                                                               th:each="error : ${#fields.errors('type')}"
                                                               th:text="${error}">Validation error</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('language')}? 'has-error':''">
                                                <div class="row clear fix">
                                                    <div class="col-md-3">
                                                        <p>
                                                            <b>Language</b>
                                                        </p>
                                                        <select id="language" class="form-control"
                                                                data-live-search="true"
                                                                th:field="*{language}">
                                                            <option th:each="entry : ${languageSelection}"
                                                                    th:field="*{language}"
                                                                    th:value="${entry.key}"
                                                                    th:text="${entry.value}">Part name
                                                            </option>
                                                        </select>

                                                        <label class="error"
                                                               th:each="error : ${#fields.errors('language')}"
                                                               th:text="${error}">Validation error</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="name" class="control-label">Name</label>
                                                    <input id="name"
                                                           class="form-control"
                                                           th:field="*{name}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error : ${#fields.errors('name')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('content')}? 'has-error':''">
                                                <label for="content" class="control-label">Content</label>

                                                <textarea id="content"
                                                          class="form-control" name="content"
                                                          th:field="*{content}"></textarea>
                                                <script>
                                                    // CKEDITOR.editorConfig = function (config) {
                                                    //     config.language = "en";
                                                    //     config.allowedContent = true;
                                                    //     config.removeButtons = "Form, Checkbox, Radio, TextField, Textarea, Select, Button, ImageButton, HiddenField";
                                                    // };
                                                    // CKEDITOR.config.removeButtons = "Form, Checkbox, Radio, TextField, Textarea, Select, Button, ImageButton, HiddenField";
                                                    CKEDITOR.replace('content', {
                                                        language: "en",
                                                        allowedContent: true,
                                                        removeButtons: "Form, Checkbox, Radio, TextField, Textarea, Select, Button, ImageButton, HiddenField",
                                                        on: {
                                                            instanceReady: function () {
                                                                this.document.appendStyleSheet('/css/userguide.css');
                                                            }
                                                        }
                                                    });
                                                </script>

                                                <!--<input id="content"-->
                                                <!--class="form-control"-->
                                                <!--th:field="*{content}"/>-->
                                                <label class="error"
                                                       th:each="error : ${#fields.errors('content')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>
                                            <p><i>Last modified: </i><i th:text="*{lastModifyBy}"></i> (<i
                                                    th:text="*{lastModifyDatetime}"></i>)</p>
                                            <!--<div class="form-group"-->
                                            <!--th:classappend="${#fields.hasErrors('roles')}? 'has-error':''">-->
                                            <!--<label for="roles" class="control-label">Roles</label>-->
                                            <!--<select id="roles" class="custom-select" multiple data-live-search="true" th:field="*{roles}">-->
                                            <!--<option  th:each="item : ${roleList}"-->
                                            <!--th:field="*{roles}"-->
                                            <!--th:value="${item.name}"-->
                                            <!--th:text="${item.name}">Part name</option>-->
                                            <!--</select>-->

                                            <!--<label class="error"-->
                                            <!--th:each="error : ${#fields.errors('roles')}"-->
                                            <!--th:text="${error}">Validation error</label>-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <div class="row clear fix">
                                                    <div class="col-md-1">
                                                        <button type="submit"
                                                                class="btn waves-effect btn-block bg-green submitBtn">
                                                            Submit
                                                        </button>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn waves-effect btn-block bg-red"
                                                                onclick="window.history.back()">Cancel
                                                        </button>
                                                    </div>
                                                    <!--<div class="col-md-1"><a-->
                                                    <!--th:href="${deleteUrl + '/' + pageResourcesEditForm.id}">-->
                                                    <!--<button type="button" class="btn waves-effect btn-block bg-red"-->
                                                    <!--onclick="window.history.back()"><i class="material-icons">delete_forever</i>-->
                                                    <!--</button>-->
                                                    <!--</a></div>-->
                                                    <div class="col-md-1">
                                                        <div class="btn-group">
                                                            <button type="button"
                                                                    class="btn btn-warning dropdown-toggle"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                <i class="material-icons">delete_forever</i> <span
                                                                    class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a th:href="${deleteUrl + '/' + pageResourcesEditForm.id}">Confirm
                                                                        Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:include="base/footer"></div>
</body>
</html>