<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-12">
                        <a href="#" th:data-url="${addUrl}" class="urlBtn">
                            <button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip"
                                    data-placement="top" title="Add Page Resources">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                        <a href="#" th:data-url="${addUrl + '/batch'}" class="urlBtn">
                            <button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip"
                                    data-placement="top" title="Add Page Resources (Batch)">
                                <i class="material-icons">library_add</i>
                            </button>
                        </a>
                        <a data-toggle="collapse" href="#search-field" role="button"
                           aria-expanded="false"
                           aria-controls="search-field">
                            <button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip"
                                    data-placement="top" title="Search">
                                <i class="material-icons">search</i>
                            </button>
                        </a>
                        <a href="#" th:data-url="${sectionListUrl}" class="urlBtn">
                            <button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip"
                                    data-placement="top" title="Section View">
                                <i class="material-icons">list</i>
                            </button>
                        </a>
                        <a>
                            <button type="button" class="btn bg-amber waves-effect batchDelete"
                                    data-type="basic"
                                    data-placement="top" title="Batch Delete">
                                <i class="material-icons">delete</i>
                            </button>
                        </a>
                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <!-- Search Section-->
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 collapse" id="search-field">
                        <div class="card">
                            <div class="header">
                                <h2>Search Filter</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/page-resources/list}" method="post" id="searchForm">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <p>
                                                        <b>Section</b>
                                                    </p>
                                                    <select id="section" class="form-control" data-live-search="true"
                                                            name="section">
                                                        <option value=""></option>
                                                        <option th:each="entry : ${sectionSelection}"
                                                                th:value="${entry.key}"
                                                                th:text="${entry.value}">Part name
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <p>
                                                        <b>Language</b>
                                                    </p>
                                                    <select id="language" class="form-control" data-live-search="true"
                                                            name="language">
                                                        <option value=""></option>
                                                        <option th:each="entry : ${languageSelection}"
                                                                th:value="${entry.key}"
                                                                th:text="${entry.value}">Part name
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                           placeholder="Name">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                            <!--<button type="reset" class="btn btn-warning">Reset</button>-->

                                            <button class="btn btn-warning submitBtn" id="clearSearchFilter"
                                                    th:data-searchFilter="${searchFilter}"
                                                    th:data-clearUrl="${clearUrl}">
                                                Clear
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [end] Search Section-->
                <!-- Table content-->
                <div class="row clearfix">
                    <!-- Table Header -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}"></h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Section</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Language</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list.content}">
                                            <!--<td scope="row" th:text="${item.id}">1</td>-->
                                            <td scope="row">
                                                <input type="checkbox" th:id="${item.id}" th:data-index="${item.id}"
                                                       class="filled-in chk-col-blue listItemCheck"/>
                                                <label th:for="${item.id}"></label>
                                                <!--<input type="checkbox" id="md_checkbox_6" class="chk-col-blue" th:data-index="${item.id}" />-->
                                                <!--<label></label>-->
                                            </td>
                                            <td><a href="#" th:text="${item.section}"></a></td>
                                            <td th:text="${item.name}"></td>
                                            <td th:text="${item.type}"></td>
                                            <td>
                                            <span class="badge badge-info"
                                                  th:text="${item.pageResourcesLanguageEnum.displayName}">Language</span>
                                            </td>
                                            <!--<td>-->
                                            <!--<span class="badge badge-info" th:each="role: ${item.roles}" th:text="${role.name}"></span>-->
                                            <!--</td>-->
                                            <td><a href="#" th:data-url="${editUrl} + '/' + ${item.id}" class="btn btn-primary urlBtn">Edit
                                                <span
                                                        class="fa fa-linkedin"></span> </a>
                                                <!--<a th:href="${userTrxUrl} + '/' + ${item.id} + '/list'" class="btn btn-primary">Transaction <span-->
                                                <!--class="fa fa-trade-federation"></span> </a>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="base/pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>

    </script>
    <div th:replace="base/footer"></div>
</div>
</body>
</html>