<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <!--<a th:href="${addUrl}">-->
                            <!--<button type="button" class="btn btn-primary waves-effect urlBtn" data-toggle="tooltip"-->
                                    <!--data-placement="top" title="Add Page Resources">-->
                                <!--<i class="material-icons">add</i>-->
                            <!--</button>-->
                        <!--</a>-->
                        <!--<a th:href="${sectionListUrl}">-->
                            <!--<button type="button" class="btn btn-primary waves-effect urlBtn" data-toggle="tooltip"-->
                                    <!--data-placement="top" title="Section View">-->
                                <!--<i class="material-icons">list</i>-->
                            <!--</button>-->
                        <!--</a>-->
                        <button type="button" class="btn btn-primary waves-effect urlBtn"
                                th:data-url="${addUrl}"
                                title="Add User">
                            <i class="material-icons">add</i>
                        </button>
                        <button type="button" class="btn btn-primary waves-effect urlBtn" data-toggle="tooltip"
                                th:data-url="${sectionListUrl}"
                                data-placement="top" title="Section View">
                            <i class="material-icons">list</i>
                        </button>

                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <!-- Search Section-->
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}"></h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Section</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Translated Language</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list}">
                                            <td th:text="${item.section}"></td>
                                            <td th:text="${item.name}"></td>
                                            <td th:text="${item.type}"></td>
                                            <td>
                                                <th:block th:each="language : ${item.language}">
                                                <span class="badge badge-info"
                                                      th:text="${language.displayName}">Info</span>
                                                </th:block>
                                            </td>
                                            <!--<td>-->
                                            <!--<span class="badge badge-info" th:each="role: ${item.roles}" th:text="${role.name}"></span>-->
                                            <!--</td>-->
                                            <td>

                                                <div class="row clear fix">
                                                    <div class="col-md-10">
                                                        <select id="section" class="form-control dropdown-section"
                                                                name="section">
                                                            <option value="">Edit...</option>
                                                            <option th:each="language : ${item.language}"
                                                            th:value="${editUrl} + '/' + ${section.persistName} + '/' + ${language.persistName} + '/' + ${item.name}"
                                                            th:text="${language.displayName}">Part name
                                                            </option>
                                                            <!--th:value="${editUrl} + '/' + ${section.persistName} + '/' + ${language.persistName} + '/' + ${item.name}"-->

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row clear fix">
                                                    <div class="col-md-10">
                                                        <select id="section" class="form-control dropdown-section"
                                                                name="section">
                                                            <option value="">Translate to</option>
                                                            <option th:each="entry : ${languageSelection}"
                                                            th:value="${addUrl} + '/' + ${item.id} + '/' + ${entry.key}"
                                                            th:text="${entry.value}">Part name
                                                            </option>
                                                            <!--th:value="${addUrl} + '/' + ${item.id} + '/' + ${entry.key}"-->

                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>
</body>
</html>