<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <!--<a th:href="@{/page-resources/list}">-->
                            <button type="button" class="btn btn-primary waves-effect urlBtn" data-toggle="tooltip"
                                    th:data-url="@{/page-resources/list}"
                                    data-placement="top" title="List All">
                                <i class="material-icons">list</i>
                            </button>
                        <!--</a>-->
                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <div class="row clear fix">
                    <!-- Table Header -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}"></h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Section</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${sectionMap}">
                                            <td th:text="${item.value}"></td>
                                            <td>
                                                <a
                                                   th:data-url="${sectionItemListUrl} + '/' + ${item.key} + '/list'"
                                                   class="btn btn-primary urlBtn">View <span
                                                    class="fa fa-linkedin"></span> </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>
</body>
</html>