<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>

    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h2>
                        System Information
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-indigo">
                            <div class="icon">
                                <i class="material-icons">face</i>
                            </div>
                            <div class="content">
                                <div class="text">Active User</div>
                                <div class="number count-to" th:attr="data-to=${userCount}" th:text="${userCount}"
                                     data-from="0" data-speed="1000">Number value
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<th:block th:each="entry : ${translationProcess}">-->
                        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
                            <!--<div class="info-box bg-indigo">-->
                                <!--<div class="icon">-->
                                    <!--<i class="material-icons">g_translate</i>-->
                                <!--</div>-->
                                <!--<div class="content">-->
                                    <!--<div class="text" th:text="${entry.key.displayName}">English Translation</div>-->
                                    <!--<div class="number" th:text="${entry.value.percentage} + '%'">92%</div>-->
                                    <!--&lt;!&ndash;<div class="number count-to" th:attr="data-to=${entry.value.percentage}"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:text="${entry.value.process} + '/' + ${entry.value.total} + '(' + ${entry.value.percentage} + ')'"&ndash;&gt;-->
                                    <!--&lt;!&ndash;data-from="0" data-speed="1000">Number value&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</th:block>-->
                </div>
                <div class="block-header">
                    <h2>
                        Translation Progress
                    </h2>
                </div>
                <div class="row">
                    <th:block th:each="entry : ${translationProcess}">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-indigo">
                                <div class="icon">
                                    <i class="material-icons">g_translate</i>
                                </div>
                                <div class="content">
                                    <div class="text" th:text="${entry.key.displayName}">English Translation</div>
                                    <div class="number" th:text="${entry.value.percentage} + '%'">92%</div>
                                    <!--<div class="number count-to" th:attr="data-to=${entry.value.percentage}"-->
                                    <!--th:text="${entry.value.process} + '/' + ${entry.value.total} + '(' + ${entry.value.percentage} + ')'"-->
                                    <!--data-from="0" data-speed="1000">Number value-->
                                    <!--</div>-->

                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>

</body>

</html>