<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">-->
    <!--<title>The Millennium Method - Admin</title>-->
    <!--&lt;!&ndash; Favicon&ndash;&gt;-->
    <!--<link rel="icon" href="../../favicon.ico" type="image/x-icon">-->

    <!--&lt;!&ndash; Google Fonts &ndash;&gt;-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">-->

    <!--&lt;!&ndash; Bootstrap Core Css &ndash;&gt;-->
    <!--<link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">-->

    <!--&lt;!&ndash; Waves Effect Css &ndash;&gt;-->
    <!--<link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.css}" rel="stylesheet" />-->

    <!--&lt;!&ndash; Animation Css &ndash;&gt;-->
    <!--<link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/animate-css/animate.css}" rel="stylesheet" />-->

    <!--&lt;!&ndash; Custom Css &ndash;&gt;-->
    <!--<link th:href="@{/css/adminbsb/customize.css}" rel="stylesheet">-->
<!--</head>-->
<head th:replace="base/header_component">
</head>

<body class="login-page">
<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">The Millennium Method</a>
        <small>Admin Panel</small>
    </div>
    <div class="card">
        <div class="body">
            <form th:action="@{/login}" id="sign_in" method="POST">
                <div class="msg">Sign in to start your session</div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-xs-8 p-t-5">-->
                        <!--<input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">-->
                        <!--<label for="rememberme">Remember Me</label>-->
                    <!--</div>-->
                    <div class="col-xs-12">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                    </div>
                </div>
                <!--<div class="row m-t-15 m-b&#45;&#45;20">-->
                    <!--<div class="col-xs-6">-->
                        <!--<a href="sign-up.html">Register Now!</a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6 align-right">-->
                        <!--<a href="forgot-password.html">Forgot Password?</a>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.js}"></script>

<!-- Validation Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/adminbsb/admin.js}"></script>
<script th:src="@{/js/adminbsb/sign-in.js}"></script>
</body>

</html>