<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Header</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/product/add}" th:object="${productForm}" method="post">

                                    <label class="error"
                                           th:if="${#fields.hasGlobalErrors()}"
                                           th:each="error : ${#fields.errors('global')}"
                                           th:text="${error}">Validation error</label>

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="name" class="control-label">Product name</label>
                                            <input id="name"
                                                   class="form-control"
                                                   th:field="*{name}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error: ${#fields.errors('name')}"
                                               th:text="${error}">Validation error</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="description" class="control-label">Description</label>
                                            <input id="description"
                                                   class="form-control"
                                                   th:field="*{description}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('description')}"
                                               th:text="${error}">Validation error</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('abbreviation')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="abbreviation" class="control-label">Abbreviation</label>
                                            <input id="abbreviation"
                                                   class="form-control"
                                                   th:field="*{abbreviation}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('abbreviation')}"
                                               th:text="${error}">Validation error</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="price" class="control-label">Price (AUD)</label>
                                            <input id="price"
                                                   class="form-control"
                                                   th:field="*{price}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('price')}"
                                               th:text="${error}">Validation error</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('discount')}? 'has-error':''">
                                        <div class="form-line">
                                            <label for="discount" class="control-label">Discount (%)</label>
                                            <input id="discount"
                                                   class="form-control"
                                                   th:field="*{discount}"/>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('discount')}"
                                               th:text="${error}">Validation error</label>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('productCategories')}? 'has-error':''">
                                        <div class="row clear fix">
                                            <div class="col-md-3">
                                                <p>
                                                    <b>Categories</b>
                                                </p>
                                                <select id="roles" class="form-control" multiple data-live-search="true"
                                                        th:field="*{productCategories}">
                                                    <option th:each="item : ${productCategoryList}"
                                                            th:field="*{productCategories}"
                                                            th:value="${item.name}"
                                                            th:text="${item.name}">Part name
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('productCategories')}"
                                               th:text="${error}">Validation error</label>
                                    </div>

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('status')}? 'has-error':''">
                                        <div class="row clear fix">
                                            <div class="col-md-3">
                                                <p>
                                                    <b>Status</b>
                                                </p>
                                                <select id="status" class="form-control" data-live-search="true"
                                                        th:field="*{status}">
                                                    <option th:each="item : ${T(com.samaxxw.util.ProductStatusEnum).values()}"
                                                            th:value="${item.status}"
                                                            th:text="${item.displayName}">Part name
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <label class="error"
                                               th:each="error : ${#fields.errors('status')}"
                                               th:text="${error}">Validation error</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row clear fix">
                                            <div class="col-md-1">
                                                <button type="submit" class="btn waves-effect btn-block bg-green submitBtn">
                                                    Submit
                                                </button>
                                            </div>
                                            <div class="col-md-1">
                                                <a href="#"
                                                   th:data-url="${listUrl}"
                                                   class="btn waves-effect btn-block bg-red urlBtn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:include="base/footer"></div>
</body>
</html>