<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary waves-effect urlBtn"
                                th:data-url="${addUrl}"
                                title="Add User">
                            <i class="material-icons">add</i>
                        </button>
                        <a data-toggle="collapse" href="#search-field" role="button"
                           aria-expanded="false"
                           aria-controls="search-field">
                            <button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip"
                                    data-placement="top" title="Search">
                                <i class="material-icons">search</i>
                            </button>
                        </a>
                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <!-- Search Section-->
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 collapse" id="search-field">
                        <div class="card">
                            <div class="header">
                                <h2>Search Filter</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/product/list}" method="post" id="searchForm">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                           placeholder="Product Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Category</label>
                                                <select id="roles" class="custom-select" data-live-search="true"
                                                        th:name="category">
                                                    <option value=""></option>
                                                    <option th:each="item : ${productCategoryList}"
                                                            th:value="${item.name}"
                                                            th:text="${item.name}">Part name
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                                </div>
                                                <!--<button type="reset" class="btn btn-warning">Reset</button>-->
                                                <div class="col-md-3">
                                                    <button class="btn btn-warning submitBtn" id="clearSearchFilter"
                                                            th:data-searchFilter="${searchFilter}"
                                                            th:data-clearUrl="${clearUrl}">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- [end] Search Section-->
                <!-- Table content-->
                <div class="row clearfix">
                    <!-- Table Header -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Product</h2>
                                <!--<ul class="header-dropdown m-r&#45;&#45;5">-->
                                <!--<li class="dropdown">-->
                                <!--<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"-->
                                <!--role="button" aria-haspopup="true" aria-expanded="false">-->
                                <!--<i class="material-icons">more_vert</i>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu pull-right">-->
                                <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a>-->
                                <!--</li>-->
                                <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Another-->
                                <!--action</a></li>-->
                                <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Something-->
                                <!--else-->
                                <!--here</a></li>-->
                                <!--</ul>-->
                                <!--</li>-->
                                <!--</ul>-->
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Price (AUD)</th>
                                            <th scope="col">Discount (%)</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Abbreviation</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list.content}">
                                            <td scope="row" th:text="${item.id}">1</td>
                                            <td><a href="#" th:text="${item.name}"></a></td>
                                            <td><a href="#" th:text="${item.price}"></a></td>
                                            <td><a href="#" th:text="${item.discount}"></a></td>
                                            <td>
                                                <p th:each="category: ${item.productCategories}">
                                            <span class="badge badge-info"
                                                  th:text="${category.name}"></span>
                                                </p>
                                            </td>
                                            <td><a href="#" th:text="${item.abbreviation}"></a></td>
                                            <td><span class="badge badge-info"
                                                      th:text="${status.get(item.status)}"></span>
                                            </td>
                                            <td><a href="#"
                                                   th:data-url="${editUrl} + '/' + ${item.id}"
                                                   class="btn btn-primary urlBtn">Edit
                                                <span
                                                        class="fa fa-linkedin"></span> </a>
                                                <a href="#"
                                                   th:data-url="'/product-resources/product/' + ${item.id} + '/list'"
                                                   class="btn btn-primary urlBtn">Resources
                                                    <span class="fa fa-linkedin"></span></a>
                                                <a href="#"
                                                   th:data-url="${item.id} + '/user/list'"
                                                   class="btn btn-primary urlBtn">Sales Record
                                                    <span class="fa fa-linkedin"></span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="base/pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [end] Table content-->
            </div>
        </section>

    </div>

</div>
<div th:replace="base/footer"></div>
</body>
</html>